pdfs_2024/*
htmls_2024/*
converted_html_2024/*
converted_json/*
evaluation_results/*
save_edited_htmls/*
filtered_language_dictionaries/*
merged_olmocr_pymupdf/*
spell_checked_json/*
spell_checked_json_2/*
eur-lex-sum/htmls_category15/*
eur-lex-sum/pdfs_category15/*
all_jsonl_files/*
olmocr-pipeline-debug.log
eur-lex-sum/Scraping/localworkspace/*
/ltstorage/home/4baba/EUR_lex/embedding_model/problematic_docs.csv
/ltstorage/home/4baba/EUR_lex/embedding_model/embedding_log.csv
/ltstorage/home/4baba/EUR_lex/embedding_model/chroma_db_category15/*
embedding_model/chroma_DBs/* 
embedding_model/test_chromadb/test_results/*
embedding_model/test.ipynb
embedding_model/fine_utning/data/*
embedding_model/fine_utning/tunning_data/*
embedding_model/test_chromadb/test_dataset_searchTest/*
embedding_model/test_chromadb/full_dataset_searchTest/*
embedding_model/test_chromadb/full_dataset_searchAll/*
embedding_model/fine_utning/other_datasets/legalQuAD/*
embedding_model/fine_utning/other_datasets/results_GerDaLIRSmall/*
embedding_model/fine_utning/wandb/*
embedding_model/fine_tuning/tunning_data/* 